{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon.ico' %}">
    <link rel="manifest" href="{% static '/img/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/index.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarResponsive" style>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:index' %}">Товары <i class="fas fa-shopping-bag"></i> </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:profile' user.id %}">Профиль</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'orders:orders_list' %}">Заказы</a></li>
                                {% if user.is_superuser or user.is_staff %}
                                <li><a class="dropdown-item" href="#">Админ-панель</a></li>
                                    {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">
                                        Выйти
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Carousel -->
    {% block content %} {% endblock %}

    {% block footer %} {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- FontAwesome script -->
    <script src="{% static '/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
</body>

</html>